body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #0c0c3c 0%, #1a1a5a 100%);
    background-size: cover;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: center;
    color: rgb(255, 255, 255);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background: #d1b40e;
    color: white;
}

button {
    background: #d1b40e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.logout-link {
    color: #d1b40e;
    font-size: 20px;
    text-emphasis: none;
}

.message {
    margin-top: 15px;
    font-weight: bold;
    color: #d1b40e;
}