<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to KBC Game</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="header">
        <h1>Kaun Banega Crorepati (KBC)</h1>
        <div class="nav-buttons">
            <a href="#how-to-play" class="btn">About</a>
            <a href="{{ url_for('admin_login') }}" target="_blank" class="btn">Login as Admin</a>
            <a href="{{ url_for('user_login') }}"  target="_blank" class="btn">Login as User</a>
        </div>
    </div>

    <div class="logo-container">
        <img src="../static/img/images-removebg-preview.png" alt="KBC Logo">
    </div>

    <div class="about" id="how-to-play">
        <h2>About KBC</h2>
        <p>Kaun Banega Crorepati (KBC) is one of the most popular quiz shows, where contestants answer questions 
        to win huge cash prizes. Based on general knowledge and current affairs, the game tests players' intelligence 
        across multiple levels. Are you ready to challenge yourself?</p>
        <p>The game follows a structured format where participants progress through increasingly challenging questions. 
        Each correct answer brings them closer to the grand prize, with multiple lifelines available to assist them. 
        KBC is a thrilling test of knowledge, strategy, and decision-making.</p>
        <p>With millions of fans worldwide, KBC has become a household name. Whether you're a trivia enthusiast or a casual player, 
        the game offers a fun and engaging experience. Join now and see how far you can go!</p>
    </div>


</body>
</html>
