<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waiting Room</title>
  <link rel="stylesheet" href="../static/css/waiting.css">
</head>

<body>
  <div class="container">
    <h2 class="waiting">Waiting Room</h2>
    <p>Please wait while the admin selects a player...</p>
  </div>
  <script>
    const currentUserUid = "{{ uid }}";  
  </script>
  <script src="../static/waiting.js"></script>
</body>

</html>